@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model List<Pizza>

<html>
    <head>
        @*BOOTSTRAP*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>

    <body>
        <div>
            <input id="search_pizza" type="text" class="form-control" placeholder="Search pizza..." onkeyup="searchPizza" />
        </div>
        <h1 class="text-center my-4">Lista pizze:</h1>
        <div class="container">

        <div class="row js_no_pizze text-center d-none">
            <div class="col-12">
                <h3>Non ci sono pizze</h3>
            </div>
        </div>

        <div class="row row-cols-4 justify-content-around js_pizze text-center d-none">

               @*Qui vanno le card delle pizze*@
            
        </div>
    </body>
</html>

<script type="text/javascript">

    function deletePizza(id) {
        axios.delete('/api/pizzas/delete/' + id).then(res => {
        }).catch(err => {
            console.log(err);
            loadPizze();
        })
        location.reload();
    }

    document.getElementById("search_pizza").addEventListener("keyup", searchPizza);
    loadPizze();
    function searchPizza(event) {
        const value = document.getElementById("search_pizza").value;
        loadPizze(value);
    }

    function loadPizze(search) {
        axios.get('api/Pizzas', {
            params: {
                search: search
            }
        }).then((resp) => {
            if (resp.data.length == 0) {
                document.querySelector('.js_no_pizze').classList.remove('d-none');
                document.querySelector('.js_pizze').classList.add('d-none');
            }
            else {
                document.querySelector('.js_no_pizze').classList.add('d-none');
                document.querySelector('.js_pizze').classList.remove('d-none');
                document.querySelector('.js_pizze').innerHTML = '';
                resp.data.forEach(pizza => {
                    console.log('pizza', pizza)
                    document.querySelector('.js_pizze').innerHTML +=
                        `<div class="card my-3" style="width: 18rem;">
                                <img src="${pizza.photo}" class="card-img-top py-1" alt="${pizza.name}">
                                <div class="card-body text-center">
                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                    <p class="card-text">Price: ${pizza.price} €</p>
                                </div>
                                <div class="card-footer d-flex justify-content-around">
                                    <a href="Pizza/Show/${pizza.id}" type = "button" class="btn btn-primary"> View Pizza </a>
                                    <a class="btn btn-warning" href="Pizza/EditForm/${pizza.id}">Edit</a>
                                    <button class="btn btn-danger" onClick="deletePizza(${pizza.id})">Elimina</button>
                                </div>
                        </div>`
                })
            }
        })
            .catch(err => {
                console.log('No pizza found', err);
            })
    }


</script>
